<section
  class="{{classes}}"
  {% if section.theSectionId is not empty %}
    id="{{section.theSectionId}}"
  {% endif %}
  data-init-section="Reveal"
>
  <div class="PageSection-container">
    <h2
      class="text-center h1 mb-[60px] lg:text-left"
      data-reveal-item
    >
      {{section.title|raw}}
    </h2>

    <div
      class="flex flex-wrap flex-col items-center justify-center gap-y-[30px]
             md:flex-row md:gap-x-[50px] md:gap-y-[20px]"
      data-reveal-item
    >
      {% for partnerLogo in section.partnerLogos %}
        {% if partnerLogo.image|length > 0 %}
          <div
            class="md:aspect-[2.5/1] max-w-[200px] md:flex-[0_0_24%]
                   lg:aspect-[2/1] lg:flex-[0_0_13%]"
            style="scale: {{partnerLogo.scale / 100}}"
          >
            <img
              src="{{partnerLogo.image.one.url}}"
              alt="{{partnerLogo.image.one.alt}}"
              class="object-contain w-full h-full"
              loading="lazy"
            />
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>