{% set crop = {
  mode: 'fit',
  width: 1000,
  height: 1000,
  quality: 90,
  format: 'webp',
  position: 'center-center'
} %}

<section
  class="{{classes}} bg-slate-blue text-white overflow-hidden"
  {% if section.theSectionId is not empty %}
    id="{{section.theSectionId}}"
  {% endif %}
  data-init-section="Reveal"
>
  <div class="PageSection-container">
    <h2
      class="hidden"
    >
      {{section.title|raw}}
    </h2>

    {% if section.productNameImage|length > 0 %}
      <div
        class="flex justify-center mb-[50px] md:mb-[70px] lg:mb-[100px]
               md:max-w-[800px]"
        data-reveal-item
      >
        <img
          src="{{section.productNameImage.one.url}}"
          alt="{{section.productNameImage.one.alt}}"
          class="w-full block"
        />
      </div>
    {% endif %}
    <div
      class="flex flex-col gap-[100px] items-center
             lg:gap-[20px] lg:grid lg:grid-cols-2 lg:items-center lg:justify-start"
    >
      <div
        class="h1 flex flex-col gap-[1em]"
        data-reveal-item
      >
        {{section.body|raw}}
      </div>

      <div>
        {% if section.satelliteImage|length > 0 %}
          <div
            class=""
            data-reveal-item
          >
            <img
              src="{{section.satelliteImage.one.getUrl(crop)}}"
              alt="{{section.satelliteImage.one.alt}}"
              class="w-full h-auto aspect-[0.9/1] block object-contain
                     object-center"
              loading="lazy"
            />
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>