{% if featuredPost %}
  <div class="mb-[90px]">
    <a
      href="{{featuredPost.url}}"
      class="no-underline flex flex-col gap-[30px]
            justify-center items-center text-center"
    >
      <div>
        {% include "shared/_mediaItem.twig" with {
          mediaItem: {
            image: featuredPost.image,
          },
          itemClasses: 'aspect-[1.7/1]',
          imageClasses: 'h-full w-full block object-cover rounded-[16px]'
        } only %}
      </div>

      <div>
        {% if featuredPost.postCategories|length %}
          <div class="flex flex-wrap justify-center md:justify-start gap-2">
            {% for category in featuredPost.postCategories %}
              <div
                class="bg-gray-500 text-white px-[14px] py-[8px] rounded text-h5"
              >
                  {{ category.title }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <h3 class="text-mobile-h1 max-w-[380px] mx-auto
                md:text-tablet-h3 md:mx-0
                lg:text-h3">
        {{featuredPost.title}}
      </h3>

      <div class="h5 flex flex-row gap-[10px] text-gray-300">
        {% if featuredPost.postDate is not empty %}
          <div class="">
            {{featuredPost.postDate|date('M j, Y')}}
          </div>
        {% endif %}

        {% if featuredPost.authorName is not empty %}
          <div>•</div>
          <div class="">
            by {{featuredPost.authorName}}
          </div>
        {% endif %}

        {% if featuredPost.readTime is not empty %}
          <div>•</div>
          <div class="">
            {{featuredPost.readTime}} Read
          </div>
        {% endif %}
      </div>
    </a>
  </div>
{% endif %}
