{% set autoplay = false %}
{% set loop = false %}
{% set muted = false %}
{% set controls = false %}

{% if mediaItem.autoplay is defined %}
  {% set autoplay = mediaItem.autoplay %}
{% endif %}

{% if mediaItem.loop is defined %}
  {% set loop = mediaItem.loop %}
{% endif %}

{% if mediaItem.muted is defined %}
  {% set muted = mediaItem.muted %}
{% endif %}

{% if mediaItem.showControls is defined %}
  {% set controls = mediaItem.showControls %}
{% endif %}

{% set defaultCrop = {
  mode: 'fit',
  width: 2000,
  height: 2000,
  quality: 75,
  position: 'center-center'
} %}

{% set itemClasses = itemClasses|default('') %}
{% set imageClasses = imageClasses|default('') %}
{% set crop = crop|default(defaultCrop) %}
{% set image = mediaItem.image.one %}

<div class="MediaItem MediaItem--video-upload {{itemClasses}}">
  {% set videoAttributes = {
    class: imageClasses
  } %}

  {% if image %}
    {% set videoAttributes = {
      class: imageClasses,
      poster: image.getUrl(crop),
      alt: image.alt|default(image.title)
    } %}
  {% endif %}

  <video
    {{ attr(videoAttributes) }}
    {% if mediaItem.focalPoint is not empty %}style="object-position: {{mediaItem.focalPoint}};"{% endif %}
    {% if autoplay %}autoplay{% endif %}
    {% if loop %}loop{% endif %}
    {% if muted %}muted{% endif %}
    {% if controls %}controls{% endif %}
    playsinline
  >
    {% for videoSrc in mediaItem.video %}
      <source
        src="{{videoSrc.getUrl()}}"
        type="{{videoSrc.getMimeType()}}"
      >
    {% endfor %}
  </video>
</div>
