<a
  href="{{post.url}}"
  class="no-underline flex flex-col gap-[30px] text-center md:text-left"
>
  <div>
    {% include "shared/_mediaItem.twig" with {
      mediaItem: {
        image: post.image,
      },
      itemClasses: 'aspect-[1.2/1]',
      imageClasses: 'h-full w-full block object-cover rounded-[16px]'
    } only %}
  </div>

  <div>
    {% if post.postCategories|length %}
      <div class="flex flex-wrap justify-center md:justify-start gap-2">
        {% for category in post.postCategories %}
          <div
            class="bg-gray-500 text-white px-[14px] py-[8px] rounded text-h5"
          >
              {{ category.title }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <h3 class="text-mobile-h1 max-w-[380px] mx-auto
             md:text-tablet-h3 md:pr-[20px] md:mx-0
             lg:text-h3">
    {{post.title}}
  </h3>

  <div class="h5 flex flex-row gap-[10px] text-gray-300">
    {% if post.postDate is not empty %}
      <div class="">
        {{post.postDate|date('M j, Y')}}
      </div>
    {% endif %}

    {% if post.authorName is not empty %}
      <div>•</div>
      <div class="">
        by {{post.authorName}}
      </div>
    {% endif %}

    {% if post.readTime is not empty %}
      <div>•</div>
      <div class="">
        {{post.readTime}} Read
      </div>
    {% endif %}
  </div>

</a>